# <center><u>Python basics</u></center>

Python is emerging as the popular language used more in data science applications.


`Python is an interpreted, object-oriented, high-level programming language. Python’s simple, easy to learn syntax emphasizes readability and therefore reduces the cost of program maintenance.`


Take the case of the tech giant Google that has created the deep learning framework called tensorflow – Python is the primary language used for creating this framework. Its footprint has continued to increase in the environment promoted by Netflix. Production engineers at Facebook and Khan Academy have for long been using it as a prominent language in their environment.

Python became the most popular language in the data science world.
So what are you waiting for? Lets start learning python basic as your first assignment.

### Now Lets get started.

### 1. Print Function

In [ ]:
# Lets print one sentence("Hello World") using python


print("Hello World!!")

Hello World!!

#### Handling comments

- single line

In [ ]:
# This is comment.
i=5

print(type(i))

<class 'int'>

- Multi line

In [ ]:
'''This is multiline
comments.
lets print
same'''
i=10

print(type(i))

<class 'int'>

- There is also different way for printing sentence with variables . We will see going forward. Lets see how we can declare and handle variable.

### 2.Variable declaration

#### Python support different data types like `int`, `float`, `string` and `boolean`.

In [ ]:
# lets declare variables int , float and string

#int, # your code below
a=5

#string
b='shabnoor'

#float
c=7.6

Lets print type of a , b and c

In [ ]:
# print type of a
print (a)
print(b)
print(c)
print(a,b,c)

5
shabnoor
7.6
5 shabnoor 7.6

In [ ]:
# print type of b
print(type(b))

<class 'str'>

In [ ]:
# print type of c
print(type(c))

<class 'float'>

Lets try with a complete sentence

In [ ]:
# define a string with sentence  'This is so beautiful'
d='This is so beautiful'


# print its type
print(type(d))

<class 'str'>

Lets try to declare boolean variable

In [ ]:
# declare d with True

E=False
F=True

In [ ]:
# print type of E

print(type(E))
print(type(F))

<class 'bool'>
<class 'bool'>

Cool! so variable declaration and getting it's type was easy.

### **`SWAPPING`**
### `Read below cell code for two methods of swapping`

In [ ]:
'''
# Python program to demonstrate
# swapping of two variables

x = 10
y = 50

# Swapping of two variables
# Using third variable
temp = x                 temp=10
x = y                     x=50
y = temp                  y=10

print("Value of x:", x)         x=50
print("Value of y:", y)         y=10

'''

In [ ]:

# Python program to demonstrate
# swapping of two variables


x = 10
y = 50

# Swapping of two variables
# without using third variable
x, y = y, x

print("Value of x:", x)
print("Value of y:", y)

Value of x: 50
Value of y: 10

In [ ]:
# swap a and b

a = 'city'
b = 5

print("Before swapping Value of a:", a)
print("Before swapping Value of b:", b)

a, b = b, a

print("After swapping Value of a:", a)
print("After swapping Value of b:", b)

Before swapping Value of a: city
Before swapping Value of b: 5
After swapping Value of a: 5
After swapping Value of b: city

Lets confirm the value

In [ ]:
# print a and b

print("Value of a:", a)
print("Value of b:", b)

Value of a: 5
Value of b: city

In [ ]:
# print with string a and b

a = city,b = 5

### 3. Arithmetic Operations

In [ ]:
# declare two variables, a = 24, b = 3

# your code below
a = 24
b = 3

print('a = {}, b = {}'.format(a,b)) # this is way of string formatting

a = 24, b = 3

In [ ]:
print('a + b = ',a+b)

a + b =  27

In [ ]:
# calculate and print all the possible numerical operations on a and b (There are total 7 operations)
print('a + b = ',a+b)
print('a - b = ',a-b)
print('a * b = ',a*b)
print('a / b = ',a/b)
print('a % b = ',a%b)
print('a // b = ',a//b) #floor division
print('a ** b = ',a**b)

a + b =  27
a - b =  21
a * b =  72
a / b =  8.0
a % b =  0
a // b =  8
a ** b =  13824

### 4. String slicing

Hey coder, do you know? Python slicing is about obtaining a sub-string from the given string by slicing it respectively from start to end

So be ready to implement it today!
<p style='text-align: right;'> </p>

In [ ]:
#Create variable a = “pineapple”

a ='pineapple'
print(a)

pineapple

In [ ]:
# Using index slicing, print the words ‘pine’ and “apple”.

# HINT - a[:]
print(a[:4])
print(a[4:])

pine
apple

Great job! Slicing is fun.

### Assign value to variable using user input
Reference for input() method: https://www.w3schools.com/python/ref_func_input.asp

In [ ]:
# take value from user and print it back

i=input('Enter integer number:')
print(i)

Enter integer number:2
2

In [ ]:
i

'2'

In [ ]:
#check type
print(type(i))

<class 'str'>

In [ ]:
# take value from user, type cast it to int and print it back.

print("Please enter value: ")

i=input()

print("Hello , You have entered : ",i)

Please enter value:
4
Hello , You have entered :  4

In [ ]:
# check type

print(type(i))

<class 'str'>

### 5. Math Functions

Lets do some simple mathematical operations by using math module. Math module contains various mathematical functions. So here we go!


<p style='text-align: right;'> </p>

In [ ]:
#import math

import math

In [ ]:
# declare a variable x = 2 and y=5.32167

x= 2
y= 5.32167

In [ ]:
# Print the maximum value between x and y

max(x,y)

5.32167

In [ ]:
# Print the minimum value between x and y

min(x,y)

2

In [ ]:
# Print square and cube of x and store in a and b variable

a = math.pow(x,2)
b = math.pow(x,3)


# print a
print(a)

# print b
print(b)

4.0
8.0

In [ ]:
#print log of x and store it in variable c

c = math.log(x)

# print c
print(c)

0.6931471805599453

In [ ]:
#print minimum value between x,y,a, b and c
min(x,y,a,b)

2

In [ ]:
#print maximum value between x,y,a, b and c

max(x,y,a,b)

8.0

In [ ]:
#print the largest integer that is smaller than or equal to c. ie.round down

math.floor(c)

0

In [ ]:
#print the smallest integer that is greater than or equal to c ie. round up

math.ceil(c)

1

## 6. Logical operations

You must be aware of some logical operations you did in college, like 'and', 'or', 'not' etc. These operations becomes even more easy to implement when you have friend like python.

<p style='text-align: right;'>  </p>

In [ ]:
# declare two variables, a = True, b = False

a =True
b =False

# print a and b
print(a)
print(b)

True
False

In [ ]:
# print type of a and type of b

print(type(a))

print(type(b))

<class 'bool'>
<class 'bool'>

A fun fact for you !
The Python Boolean type is one of Python's built-in data types. It's used to represent the truth value of an expression

In [ ]:
# print int(a) and int(b)
print(int(a))
print(int(b))

1
0

We are sure you must have seen that, values for 'True' is 1 and for 'False' is 0.

In [ ]:
# Find and print the values of not a, not b, a and b, a or b, a and not b

a =True
b =False
print('not a=',not a)
print('not b=', not b)
print('a and b=',a and b)
print('a or b=',a or b)
print('a and not b=',a and not b)

not a= False
not b= True
a and b= False
a or b= True
a and not b= True

We hope you tried to undertand the above output!

### 6. Data Structures in Python

Python has implicit support for Data Structures which enable you to store and access data. These structures are `List`, `Dictionary`,`Tuple` and `Set`.

- For now , we will only look into List to get basic understanding. Later we will discuss about other data structure.

### List

A list is collection of items which can be change/ modify at any point of time. You can create list that contains the string, float, integer and boolean. In python, square brackets ([]) represents lists.

In [ ]:
# list that contains numbers.

l =[9,1,4,5,10]
print(l)

[9, 1, 4, 5, 10]

In [ ]:
# print type of l

print(type(l))

<class 'list'>

In [ ]:
# create list that contains one string, float and integer values.

l1 =['shabnoor',6.56,7]
print(l1)

['shabnoor', 6.56, 7]

In [ ]:
# lets create list and try to access each element with indexing

l2 =['Ansari',12,4.6,3,45,'shabnoor',9.67]

# print value at index 0

print(l2[0])

# print value at index 2

print(l2[2])

# print last item from the list

print(l2[-1])

# print second last item from list using -2

print(l2[-2])

Ansari
4.6
9.67
shabnoor

In [ ]:
# print the length of list

print(len(l2))

7

In [ ]:
l2=[43,11,85,40,65]
# sort in ascending order and print l2
l2.sort()
print(l2)

# sort in descending order and then print l2

l2.sort(reverse=True)
print(l2)

[11, 40, 43, 65, 85]
[85, 65, 43, 40, 11]

#### Lets try to append , insert , delete item from list

In [ ]:
l2=[43,11,85,40,65]
# add item 99 in list and print l2

l2.append(99)
print('after appending 99 in list :',l2)


# insert item 500 in list at index 0
l2.insert(0,500)
print('After inserting 500 in list :',l2)
# we are going to use insert(index, item) method.



# remove items of index 1 from list
del l2[1]
print('After remove items of index 1 from list :',l2)



# remove last element from the list using pop() method
l2.pop(-1)
print('After poping last element :',l2)


# remove item by value

l2.remove(85)
print('After removing item b value :',l2)

after appending 99 in list : [43, 11, 85, 40, 65, 99]
After inserting 500 in list : [500, 43, 11, 85, 40, 65, 99]
After remove items of index 1 from list : [500, 11, 85, 40, 65, 99]
After poping last element : [500, 11, 85, 40, 65]
After removing item b value : [500, 11, 40, 65]

### 7. String value and operators

<p style='text-align: right;'>  </p>

#### Characters in strings

In [ ]:
# declare the variables x = cat and y = dog and print it

x ='cat'
y ='dog'
print(x)
print(y)

cat
dog

In [ ]:
#Print first character of both x and y.
print('First ch of x',x[0])
print('First ch of y',y[0])

First ch of x c
First ch of y d

In [ ]:
#Print last character of both x and y.
print('last ch of x',x[-1])
print('last ch of y',y[-1])

last ch of x t
last ch of y g

In [ ]:
#Print len of both x and y

print('Length of x is ',len(x))

print('Length of y is ',len(y))

Length of x is  3
Length of y is  3

In [ ]:
#concatenate both x and y and store it in variable z and print z

z =x+y
print(z)

catdog

In [ ]:
#check if x is part of z
if(x in z):
  print('True')
else:
  print('False')

True

### 8. Dealing with Sentences

<p style='text-align: right;'> </p>

In [ ]:
# Declare a sentence of ‘I am flying to London’ and print it

sent = 'I am flying to London'
print(sent)

I am flying to London

In [ ]:
#Print length of the sentence

print('len of sentence is',len(sent))

len of sentence is 21

In [ ]:
#Using list indexing, to print the word London
a=sent[15:21]
print(a)

London

In [ ]:
# Use .split to get list of individual words in the sentence

sent.split()

['I', 'am', 'flying', 'to', 'London']

In [ ]:
# Convert sentence in lower case
print(sent.lower())

i am flying to london

In [ ]:
# Convert sentence in upper case
print(sent.upper())

I AM FLYING TO LONDON

In [ ]:
# Convert sentence in Camel case
print(sent.capitalize())

I am flying to london

Lets try to print two string with inserting new line and tab

In [ ]:
# create two string varibles jack , hills

first_name='jack'
last_name='hills'

In [ ]:
# lets add tab space between first and last name

full_name1 =

print(full_name1)

# lets add new line between first and last name

full_name2 =
print(full_name2)

jack hills
jack hills

Lets Remove (Strip) white space from string

In [ ]:
s = ' This string contains white space. '

print(s)

# remove white space from both side.
a=s.strip()
print(a)

# remove white space from left side.
b=s.lstrip()
print(b)

# remove white space from right side.
c=s.rstrip()
print(c)

 This string contains white space.
This string contains white space.
This string contains white space.
 This string contains white space.

In [ ]:
#Print length and verify

print(len(s))
print(len(a))
print(len(b))
print(len(c))

35
33
34
34

### 9. Loops and Iterations

### If statement

<p style='text-align: right;'> </p>

In [ ]:
#Declare a variable x equal to a number of your choice.
#your code here

x = 3 # add a number of your choice (mine is 3 :) )

In [ ]:
#Using an if statement, print whether x is zero, positive or negative.
#x=0
#x=12
x=-2

if x>0:
  print(x,' is postive ')
elif x<0:
  print(x,' is negative')
else:
  print(x,'is zero')

-2  is negative

### For loop

In [ ]:
#Create a list x, such that it contains the elements - ‘India’, ‘Israel’,’Canada’.

x =['India','Israel','Canada']

In [ ]:
#Using For loop, iterate over the list and print the elements.
for i in x:
  print(i)

India
Israel
Canada

In [ ]:
print(range(1,11))

range(1, 11)

<p style='text-align: right;'> 2 points </p>

In [ ]:
# Using For loop, print the table of 2.

for i in range(1,11):
  print(f'2 * {i} =',2*i)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

For a given list, x = [21, ‘hello,’cream’, 20,19,’village’], using for loop to iterate over the items and using - if statement print the items that are of type int

In [ ]:
#code here
x = [21, 'hello','cream', 20,19,'village']
for i in x:
  if type(i) is int:
    print(i)

21
20
19

Using For loop, lets create a pattern.

<p style='text-align: right;'> 10 points </p>

*
* *
* * *
* * * *
* * * * *

In [ ]:
# print the following pattern


for i in range(0,5):
  for j in range(0,i+1):
   print('*',end=' ')
  print()

*
* *
* * *
* * * *
* * * * *

Lets remove duplicates from list names=['A','B','C','A','D','E','F','G','H','E','D']

In [ ]:
name=['A','B','C','A','D','E','F','G','H','E','D']

a=list(set(name))
print(a)
a.sort()
print(a)

['D', 'B', 'A', 'G', 'E', 'H', 'F', 'C']
['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']

Good! Shall we try solving above problem in shorter way using list comprehension? It will be amazing. Here we go!

### 10. List Comprehensions

Hey buddy! Python has really amazing thing called list comprehension. List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list. Cool right? Let's dive into this more by doing it.


<p style='text-align: right;'>  </p>

In [ ]:

print(a)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']

In [ ]:
# Using list comprehension, create a list containing numbers from 1 to 20.
# Hint: You can use range function of python to do this.

list1=[x for x in range(1,21)]
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
# Using list comprehension, create a list containing numbers from 1 to 20 that are even

list2=[x for x in range(1,21) if x%2==0]
print(list2)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

Create a list of all the fruits you like. Using list comprehension, create another list which contains the total number of charachters for each corresponding fruits.
- Eg. fruits = [‘apple’,’kiwi’,’orange’], then output would be - [5,4,6]

In [ ]:
fruits = ['apple','kiwi','orange'] # your code here (create a list of your favourite fruits)
[len(i) for i in fruits ]

[5, 4, 6]

The above output is shown if fruits = ['apple','kiwi,'orange'], it can vary for different values of fruits

Amazing right?

### Write the code for the following, what is the output obtained?
- Set a variable flag = True, num = 5
- Run a while loop till flag = True
- Inside the while loop -
    - Increment the value of num by 5
    - If value of num is greater then 50, set flag to be False

In [ ]:
# your code here
flag=True
num=5
while flag==True:
  print(num)
  num+=5
  if num>50:
    set
    flag=False

5
10
15
20
25
30
35
40
45
50

## 11. Functions

Declare a function named square, which takes an input as x, and returns the square of x.

<p style='text-align: right;'> </p>

In [ ]:
#define function

def square(x):
 # x=input('Enter a number :')
  num=x**2
  return num

Call the function to find the value of square of 9.

In [ ]:
# find the square of 9 using the function square you have just created.

p=square(9)
print('square is :',p)

square is : 81

Wohoo! see, defining function was simple

#### Define another function which checks whether a given is number is odd or even for a given input and it should print whether the  number is odd or even as an output
<p style='text-align: right;'> </p>

In [ ]:
# your code here

def check_odd_even(x):
  if(x%2==0):
    print(x,"is even")
  else:
    print(x,"is Odd")

In [ ]:
 # your code here

check_odd_even(3)
check_odd_even(6)
check_odd_even(21)

3 is Odd
6 is even
21 is Odd

### define a funtion 'occurence' which takes 2 inputs, one list 'lst' and another one a number 'n' and count the number of occurrences of n in your list lst.

In [ ]:
#your code
def occurence(lst, n):
  return lst.count(n)



#lets use your function

#occurence([1,2,3,4,4,6,8,1,4,5],1)

lst=[1,4,5,7,1,2,45,7,9,3,2,1,7]
n=7
print("{} has occured {} times in list ".format(n,occurence(lst,n)))

7 has occured 3 times in list

### Using while loop make a function that prints all the values between 1 to n.

In [ ]:
#define counter

def counter(n):
  i=1
  while i<=n:
    print(i)
    i+=1

In [ ]:
#this should print numbers from 1 to 10

counter(10)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# Now Define a function, which takes input from the user and prints whether the given input is zero,positive or negative.

def check_num(x):
  if x>0:
    print(x, 'is positive')
  elif x<0:
    print(x,'is negative')
  else:
    print(x,'is zero')

check_num(3)
check_num(-1)
check_num(0)

3 is positive
-1 is negative
0 is zero

hey hey! You did a great code.

# Smile, you completed the first milestone :)!!